<%= form_tag(songs_search_path, method: :get) do %>
    <%= label_tag(:term, "Search for:") %>
    <%= text_field_tag(:term) %>
    <%= submit_tag("Search") %>
<% end %>


<% if @results.present? %>
  <h1>Podcasts</h1>
  <ul>
    <% @results.each do |podcast| %>
      <%= image_tag podcast["artworkUrl60"], class: "pcast-image" %>
    <button type="button" id="track-name"><%= podcast['trackName'] %></button>
        <li><% episodes = Feedjira::Feed.fetch_and_parse("#{ podcast["feedUrl"] }").entries %></li>
        <% episodes.each do |episode| %>
          <li class="episode-data">  <%= episode.title %> </li>
        <% end %>
    <% end %>
  </ul>
<% end %>


<script>


$("#track-name").click(function(){
    $(".episode-data").toggle();
});

</script>
