<h2>Send Playlist</h2>
		<%= form_for @contact do |f| %>
				<%= f.label :name, class: 'contact_name' %><br>
				<%= f.text_field :name, required: true, class: "form-control reg" %>

				<br>
			<div class="form-group">
				<%= f.label :email %><br>
				<%= f.email_field :email, required: true, class: "form-control reg" %>
			</div>

				<br>
			<div class="form-group">
				<%= f.label :Playlist %><br>
				<%= f.text_area :message, as: :text, class: "form-control reg", size: "10x10" %>
			</div>

  		<div class="form-group">
  			<%= button_tag 'Send Message', class: "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending email..."} %>
  		</div>
 <% end %>
