<% if @results.present? %>
  <div class="results">
      <div class="track-name">
    <%= image_tag @results.first["artworkUrl60"], class: "pcast-image" %>
      <%= @results.first['trackName'] %>
    </div>
    <p class="playlist-subtitle">(Click on episode to add to playlist)</p>
        <button type="button", class="button", id="show-episodes">Show all episodes</button>
          <% episodes = Feedjira::Feed.fetch_and_parse(@results.first["feedUrl"]).entries %>
            <% episodes.each do |episode| %>
            <div id="right1" class="episode-drag"><li class="episode-data"><%= episode.title %> | <%= link_to "Link", episode.url, target: "_blank" %></li></div>
          <% end %>
      <% end %>
    </div>
</div>
<%= render 'podcasts/episodes' %>
